body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 48px;
}


.presentations {
  padding: 0;
}

.presentations li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
}


.tools {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 90vw;
  padding: 1rem 5vw;
  transition: opacity 250ms;
}

.tools>* {
  text-align: left;
}

.chapter {
  display: flex;
  height: 100vh;
}

.chapter section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  padding: 10vh 10vw;
}

.chapter section h2 {
  margin-bottom: 8rem;
}



.icon {
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  font-size: 0;
  width: 2rem;
  height: 2rem;
}

body.show {
  --font-size: 48px;
  overflow: hidden;
}


.icon[disabled] {
  opacity: 0.15;
}

.home {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 21v-6a2 2 0 0 1 2 -2h2c.645 0 1.218 .305 1.584 .78"></path><path d="M20.004 11.004l-8.004 -8.004l-9 9h2v7a2 2 0 0 0 2 2h4"></path><path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z"></path></svg>');
}

.restart {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-dot" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19 12h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h5"></path><circle cx="19" cy="19" r="3"></circle><path d="M9 21v-6a2 2 0 0 1 2 -2h2c.641 0 1.212 .302 1.578 .771"></path></svg>');
}

.next {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 6 15 12 9 18"></polyline></svg>');
}

.previous {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="15 6 9 12 15 18"></polyline></svg>');
}

.nnext {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="6 9 12 15 18 9"></polyline></svg>');
}

.pprevious {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="6 15 12 9 18 15"></polyline></svg>');
}

.titles>* {
  display: none;
}
